/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.top-navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    background: #540B51;
    width: 100%;
}

header {
    background: #540B51;
}

.logo {
    width: 90px; 
    height: auto; 
    margin-top: 20px; 
    margin-left: 20px; 
}

img {
    max-width: 100%;
    height: auto;
}

.headericon {
    width: 20px; 
    height: auto; 
    float: right;
    margin-top: 20px; 
    margin-right: 20px; 
    border: none;
    background-color: #540B51;
}

.navlist {
    display:none;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 530;
    text-align: center;
    padding: 50px 25px 10px;
}

h3 {
    color:#540B51;
    font-size: 2em;
    font-weight: 550;
    padding: 60px 70px 20px;
}

#slogan-header {
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 25px;
}

.yellow-highlight {
    color: #ECB12F;
    font-weight: bolder;
}

#sign-up-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sign-up-mail {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin:  10px 50px;
    color: #540B51;
    font-weight: 550;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid black;
}

.sign-up-google {
    width: 90%;
    max-width: 700px;
    margin: 0px 50px 20px;
    padding: 20px;
    background-color: #4285F4;
    font-weight: 450;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
}

.img-sign-up {
    background-color: white;
    padding: 7px;
    border-radius: 3px;
    width: 40px;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.sign-up-google p {
    padding: 0 20px;
}


#trusted-company {
    background-color: #F3EAE2;
    padding: 50px 20px;
    text-align: center;
}

#trusted-company p {
    text-align: center;
    color: black;
    font-size: 0.8em;
    font-weight: 550;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.trusted-company-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#trusted-company img {
    height: 35px;
    margin: 30px 10px 0 ;
}

#header-image {
    padding: 30px 0;
}

#important-facts {
    text-align: center;
    padding-bottom: 20px;
}

#important-facts li {
    padding: 30px 110px;
}

.bolder-smaller {
    font-weight: 900;
    font-size: 0.8em;
}


#important-facts span {
    color:#540B51;
    font-size: 2.5em;
    font-weight: 600;
}

.higher-distance {
    margin: 0 30px 40px;
}

#interact {
    background: #540B51;
    text-align: center;
    padding-bottom: 20px;
}

#interact h3 {
    color:white;
    margin-bottom: 15px;
    padding-top: 40px;
}

#interact-button {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#interact-button button {
    width: 90%;
    max-width: 700px;
    padding: 15px 50px;
    margin:  5px 50px;
    font-weight: 520;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
}

.button-one-interact {
    margin: 0 30px 10px;
    background: white;
    border: 1px solid black;
    color:#540B51
}

.button-two-interact {
    background: #540B51;
    border: 1px solid white;
    color: white;
}

footer {
    padding: 30px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin-top: 20px;
    color: #454245;
    font-size: 0.7em;
    line-height: 3;
    font-weight: 800;
    text-align: left;
}

.line {
    border: 0;
    border-top: 2px solid rgba(128, 128, 128, 0.344);
    width: 100%;
    margin: auto;
}

footer img {
    width: 10px;
    height: auto;
}

#social-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.blue-font {
    color: #2E71A6
}

small {
    font-size: 0.6em;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    

  }